torch==2.4.1
torchvision==0.19.1
pyquaternion==0.9.9
pyyaml==6.0
rospkg==1.5.0
pexpect==4.9.0
dm_control==1.0.23
mujoco==3.2.3
opencv-python
matplotlib==3.7.5
einops==0.8.1
packaging==25.0
h5py==3.11.0
ipython==8.12.3
diffusers==0.33.0
huggingface_hub==0.13.4
pyzmq